<% provide(:title, "城レコとは") %>
<div class="center jumbotron">
  <h1>城レコとは</h1>
  <p>城レコは訪れたお城の写真を記録（レコード）するアプリです。<br>
    思い出として残すことはもちろん、他のユーザーとお城の写真を共有して楽しむことができます。
  </p>
  <h3>さあ、あなたも城レコを始めましょう！</h3>
  <%= link_to "新規登録", signup_path, class: "btn btn-lg btn-primary" %>
</div>
