<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ATSApplicationFontsPath</key>
	<string>Fonts</string>
	<key>Application-Group</key>
	<array>
		<string>dot-mac</string>
		<string>InternetAccounts</string>
	</array>
	<key>BuildMachineOSBuild</key>
	<string>13A538g</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ipalias</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>iPhotoAlias</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>iPhoto</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>IPLibraryIcon</string>
			<key>CFBundleTypeName</key>
			<string>iPhoto Library</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>iPlb</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>NSDocumentClass</key>
			<string>ArchiveDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>aplibrary</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>IPLibraryIcon</string>
			<key>CFBundleTypeName</key>
			<string>ApertureLibrary</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>ArchiveDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>iPhotoProject</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>iPhoto Print Project</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>ArchiveDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>photolibrary</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>IPLibraryIcon</string>
			<key>CFBundleTypeName</key>
			<string>Photo Library</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>ArchiveDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>All Files</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
				<string>fold</string>
				<string>disk</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>iPhoto</string>
	<key>CFBundleHelpBookFolder</key>
	<string>iPhoto.help</string>
	<key>CFBundleHelpBookName</key>
	<string>com.apple.iPhoto.help</string>
	<key>CFBundleIconFile</key>
	<string>NSApplicationIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.iPhoto</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>iPhoto</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleResourceSpecification</key>
	<string>ResourceRules.plist</string>
	<key>CFBundleShortVersionString</key>
	<string>9.5.1</string>
	<key>CFBundleSignature</key>
	<string>iPho</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>Photo RSS URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>photo</string>
			</array>
			<key>LSIsAppleDefaultForScheme</key>
			<true/>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>902.17</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>5A11344w</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>13A538g</string>
	<key>DTSDKName</key>
	<string></string>
	<key>DTXcode</key>
	<string>0500</string>
	<key>DTXcodeBuild</key>
	<string>5A11344w</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.photography</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.9</string>
	<key>LSRequiresNativeExecution</key>
	<true/>
	<key>NSAppleScriptEnabled</key>
	<string>YES</string>
	<key>NSDockTilePlugIn</key>
	<string>iPhotoDockTilePlugin.docktileplugin</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2002-2013 Apple Inc.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>ExtendedApplication</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Photo Library</string>
			<key>UTTypeIconFile</key>
			<string>IPLibraryIcon</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.photo.library</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>iPlb</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>photolibrary</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Aperture Library</string>
			<key>UTTypeIconFile</key>
			<string>IPLibraryIcon</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.Aperture.library</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>fslb</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>aplibrary</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
